@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h3 {
    font-weight: 600;
}

.bg-success {
    background-color: #b2ffc3 !important;
}

.table th:nth-child(1),
.table td:nth-child(2) {
    width: 1%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 9%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 35%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 10%;
}

.table th:nth-child(5),
.table td:nth-child(5) {
    width: 40%;
}

.table th:nth-child(6),
.table td:nth-child(6) {
    width: 2%;
}